<div id="react-root"></div>

<script>
  import React from 'react';
  import ReactDOM from 'react-dom';
  import KartButton from 'components/kart_button';

  document.addEventListener('DOMContentLoaded', () => {
    ReactDOM.render(
      <KartButton />,
      document.getElementById('react-root')
    );
  });
</script>

<br>
<button type="button" class="btn btn-primary">Primary</button>
